//key
//sd - self described
//@authored by Kaybarax -- Twitter @_ https://twitter.com/Kaybarax, Github @_ https://github.com/Kaybarax, LinkedIn @_ https://linkedin.com/in/kaybarax

//containers
//start flex containers
.flex-row-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 5px;
  width: 100%;

  .x-units-gap-child {
    flex: 1 1;
    box-shadow: inset 1px 1px 1px 1px #152939;
    text-align: center;
    margin: 5px; /* and that, will result in a 10px gap */
  }

}

.flex-fluid-row-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;

  .x-units-gap-child {
    flex: 1 1 auto;
    box-shadow: inset 1px 1px 1px 1px #152939;
    text-align: center;
    margin: 5px; /* and that, will result in a 10px gap */
  }
}

.flex-column-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px;
  width: 100%;

  .x-units-gap-child {
    flex: 1 1 auto;
    box-shadow: inset 1px 1px 1px 1px #152939;
    text-align: center;
    margin: 5px; /* and that, will result in a 10px gap */
  }
}

.flex-fluid-column-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  width: 100%;

  .x-units-gap-child {
    flex: 1 1 auto;
    box-shadow: inset 1px 1px 1px 1px #152939;
    text-align: center;
    margin: 5px; /* and that, will result in a 10px gap */
  }
}

// end flex containers

//start flex container children
.flex-container-child-item {
  padding: 5px;
  flex-grow: 1;
}

.flex-container-child-item-no-grow {
  padding: 5px;
  flex-grow: 0;
}

.flex-container-child-item-full-width {
  flex-basis: 100%;
  padding: 5px;
}

.flex-container-child-item-three-quarters-width {
  flex-basis: 75%;
  padding: 5px;
}

.flex-container-child-item-one-half-width {
  flex-basis: 50%;
  padding: 5px;
}

.flex-container-child-item-one-quarter-width {
  flex-basis: 25%;
  padding: 5px;
}

.flex-container-child-item-one-third-width {
  flex-basis: 33.33%;
  padding: 5px;
}

// end flex container children

// start flex container content alignments
.center-align-content {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.align-right-flex-container-content {
  justify-content: center;
  align-items: flex-end;
}

.align-left-flex-container-content {
  justify-content: center;
  align-items: flex-start;
}

// end flex container content alignments
