//key
//sd - self described
//@authored by Kaybarax -- Twitter @_ https://twitter.com/Kaybarax, Github @_ https://github.com/Kaybarax, LinkedIn @_ https://linkedin.com/in/kaybarax
// with help from w3schools @_ https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;

  .selected {
    background-color: #111111;
  }
}

li {
  float: left;
  color: #ffffff;
  cursor: pointer;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
